body {
    background-color: lightpink;
}

h1, h2, h3{
    color: forestgreen;
    margin-left: 80px;
    margin-right: 80px;
	text-align: center;
}

h4{
	color:Maroon;
	margin-left: 40px;
    margin-right: 20px;
}

p{
	color:RebeccaPurple;
	margin-left: 20px;
	margin-right: 20px;
}

ul, ol {
    color: Indigo;
    margin-left: 30px;
    margin-right: 20px;
}